<logging>
	<appender name="file1" type="rollingFileAppender">
		<file>log1.txt</file>
		<appendToFile>true</appendToFile>
		<maxSizeRollBackups>5</maxSizeRollBackups>
		<maximumFileSize>1</maximumFileSize>
		<layout type="patternLayout">
			<conversionPattern>%date{%m/%d/%Y %H:%M:%S.%L} [%thread{%08x},%levelnum] %class{%-15.15s} %method{%-15.15s} %message%newline</conversionPattern>
		</layout>
	</appender>
	<appender name="file2" type="rollingFileAppender">
		<file>log2.txt</file>
		<appendToFile>true</appendToFile>
		<maxSizeRollBackups>5</maxSizeRollBackups>
		<maximumFileSize>1</maximumFileSize>
		<layout type="patternLayout">
			<conversionPattern>%date{%m/%d/%Y %H:%M:%S.%L} [%thread{%08x},%level] %class{%-15.15s} %method{%-15.15s} %message%newline</conversionPattern>
		</layout>
	</appender>
	<appender name="file3" type="fileAppender">
		<file>log3.txt</file>
		<appendToFile>true</appendToFile>
		<layout type="patternLayout">
			<conversionPattern>%epoch{%12d} %module{%-15.15s} %class{%-15.15s} %method{%-15.15s} %message%newline</conversionPattern>
		</layout>
	</appender>
	<appender name="file4" type="fileAppender">
		<file>log4.txt</file>
		<appendToFile>true</appendToFile>
		<layout type="patternLayout">
			<conversionPattern>%epochms{%16lld} %level{%-5.5s} %message%newline</conversionPattern>
		</layout>
	</appender>
	<appender name="console" type="consoleAppender">
		<layout type="patternLayout">
			<conversionPattern>%date{%H:%M:%S.%L} %level{%-5.5s} %class{%-15.15s} %method{%-15.15s} %message%newline</conversionPattern>
		</layout>
	</appender>
	<root>
		<level>INFO</level>
		<appender-ref>file1</appender-ref>
	</root>
	<logger name="main">
		<level>DEBUG</level>
		<appender-ref>console</appender-ref>
	</logger>
	<logger name="*.test3">
		<level>INFO</level>
		<appender-ref>file2</appender-ref>
	</logger>
	<logger name="*.log3.*">
		<level>INFO</level>
		<appender-ref>file3</appender-ref>
	</logger>
	<logger name="test2.*">
		<level>INFO</level>
		<appender-ref>file4</appender-ref>
		<appender-ref>console</appender-ref>
	</logger>
</logging>
